build --copt=-Wall
build --copt=-Wuninitialized
build --copt=-Wno-error=format
build --copt=-Wundef
build --copt=-Wunused
build --copt=-Wdate-time
build --copt=-Wfloat-equal
build --copt=-Wshadow
build --copt=-Wvla
build --copt=-Wdisabled-optimization
build --copt=-Wempty-body
build --copt=-Wignored-qualifiers
build --copt=-Wimplicit-fallthrough=3
build --copt=-Wtype-limits
build --copt=-Wshift-negative-value
build --copt=-Wswitch-default
build --copt=-Wframe-larger-than=8192
build --copt=-Wshift-overflow=2
build --copt=-Wwrite-strings
build --copt=-Wmissing-format-attribute
build --copt=-Wformat-nonliteral
build --copt=-Wduplicated-cond
build --copt=-Wtrampolines
build --copt=-Wlogical-op
build --copt=-Wsuggest-attribute=format
build --copt=-Wduplicated-branches
build --copt=-Wmissing-include-dirs
build --copt=-Wformat-signedness
build --copt=-Wmissing-declarations
build --copt=-Wreturn-local-addr
build --copt=-Wredundant-decls
build --copt=-Wfloat-conversion
build --copt=-Werror
build --copt=-Wextra
build --copt=-Wno-missing-include-dirs
build --copt=-fno-common
build --conlyopt=-Wmissing-prototypes
build --conlyopt=-Wstrict-prototypes
build --conlyopt=-std=gnu99

